
body{
    height: 100vh;
    background: url(../../../assets/images/backgroundSearch1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

option{
    width: 100%;
}

.search{
    margin-top: 15vh;
    width: 60vw;
}

.formz{
    align-items: stretch;
}
button{
    width: 100%;
}

/* input{
    width: 80%;
} */

select{
    height: 100%;
}


