<!-- Footer that has links to Artist/Venue Login/Register  -->
<!-- Also shoutout to pictures and to the songkick api -->
<nav class="d-flex justify-content-around fixed-bottom navbar navbar-light bg-primary ">
   <!-- <div class="nav navbar-nav list-group-horizontal text-secondary ">
        <div class="list-group-item"><a href="#">Artist?</a></div>
        <div class="list-group-item"><a href="#">Venue Owner?</a></div>
        <div class="list-group-item text-primary"><a>Concerts By Songkick</a></div>
   </div> -->
   <!-- <div class="d-flex justify-content-around nav navbar-nav list-group-horizontal"> -->
      <span class="list-group bg-black text-secondary"><a href="#">Artist?</a></span>
      <span class="list-group bg-black text-secondary"><a href="#">Venue Owner?</a></span>
      <span class="list-group bg-black text-secondary"><a href="#">Concerts By Songkick</a></span>
   <!-- </div> -->
</nav>