<body>
    <div class="jumbotron bg-transparent">
        <h1 class="text-center font-weight-bold bottom-borders">TicketSRSLY</h1>
    </div>

    <div>
        <form>
            <div class="form-group text-center">
                <input  type="text" class="form-control bg-primary text-white" pattern="[0-9]{5}" id="zipcode" placeholder="5-digit Zipcode">
                <input type="button" class="btn btn-primary text-center" value="Search"/>
            </div>
            
        </form>
    </div>
</body>

<!-- image credit for stage-light Photo by Yvette de Wit on Unsplash -->
<!-- image credit for blue-dj Photo by Banter Snaps on Unsplash -->
<!-- image credit for purple-crowd Photo by Aditya Chinchure on Unsplash -->
<!-- colorful crowd Photo by Aditya Chinchure on Unsplash -->