<body>
    <div class="jumbotron bg-transparent">
        <h1 class="text-center font-weight-bold bottom-borders text-white ">TicketSRSLY</h1>
    </div>

    <div class="content">
        <form>
            <div class="form-group text-center">
                <input  type="text" class="text-center form-control bg-info text-white" pattern="[0-9]{5}" id="zipcode" placeholder="5-digit Zipcode">
                <input type="button" class="text-center btn btn-info text-center" value="Search"/>
            </div>
        </form>
    </div>

    <app-footer></app-footer>
</body>

<!-- image credit for stage-light Photo by Yvette de Wit on Unsplash -->
<!-- image credit for blue-dj Photo by Banter Snaps on Unsplash -->
<!-- image credit for purple-crowd Photo by Aditya Chinchure on Unsplash -->
<!-- colorful crowd Photo by Aditya Chinchure on Unsplash -->